# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.spec

# Virtual environments
.venv/
venv/
env/

# PyInstaller
*.exe

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
